@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

body{
    background-color:#0F0F0F;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
    color:white;    
    text-align: center;
    margin:50px;
    flex-direction: column;
}

header img{
    width: 100px;
}

form input [type="submit"] {
    
    color: #8C77E0;

}

h1 {
    color: white;

}

h2 {
    color: white;
    font-weight: 400;
    font-size: 29px;
    line-height: 20px;
    font-style: light;

}

h3 {
    color: white;
   
}

label {
    
    position: absolute; 
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
}

text {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;

   
}


@media screen and (max-width:480px){
    form{
        width:250px;
    }
}
